body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #a5adb0; */
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-header > * {
    margin: 10px 10px 10px 10px;
}

#main-gallery-total-progress {
    width: 200px;
    height: 15px;
}

#main-gallery-total-progress > svg {
    height: 100%;
    display: block;
}

.progress-line > svg {
    height: 100%;
    display: block;
}

#main-gallery-total-progress > .progressbar-text {
    color: white !important;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.image-container > img {
    width: 100%;
    height: auto;
}

.image-container {
    min-height: 250px;
    width: 33%;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
}

.progress-circle {
    height: 30%;
    width: auto;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 1;
}

.progress-circle > svg {
    height: 100%;
    display: block;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity ease-in-out 2s;
}

@media screen and (max-width: 1000px) {
    .page-header {
        flex-direction: column;
    }

    .image-container {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .image-container {
        width: 100%;
    }
}
